/**
 * @   .ejs
 *
 * This is the page where it will show the details of teams
 * @author Swaroop Reddy
 */

 <br>
<br>

<div class="container-fluid">
    <div class=row>
        <div class="col col-md-12">
        
            <!-- <form method="get" action="/team/findall">
                <input type="submit" value="Get Teams" class="btn btn-caution" />
            </form> -->

        </div>
    </div>
</div>
