<br>
<br>

<div class="container-fluid">
    <div class=row>
        <div class="col col-md-12">
           

             <% for(var i=0; i<teams.length; i++) {%>
                <tr>
                    <td><%= teams[i].teamname %></td>
                    <form method="post" action="/team/edit/<%=teams[i].teamid%>">
                        <input type="submit" value="Edit" />
                    </form>
                    <form method="post" action="/team/delete/<%=teams[i].teamid%>">
                        <input type="submit" value="Delete" />
                    </form>
                   
                    <br />
                </tr>
            <%} %>


        </div>
    </div>
</div>
