/**
 * @   index.ejs
 *
 *
 * @author Chandrakanth Polisetty
 */
 
  <body> 
   <br>
  <div class="container">
    <div class="card">
      <br>
      <h2>Team 1</h2>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="icons">
            <div class="btn"><i class="fas fa-pen" ></i></div>
            <div class="btn"><i class="fas fa-trash-alt"></i></div>
          </div>
        </div> 
      </div>
       
    </div>
  </div>
  <br>
  <div class="container">
    <div class="card">
      <br>
      <h2>Team 2</h2>
      <div class="card-body">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="icons">
            <div class="btn"><i class="fas fa-pen" ></i></div>
            <div class="btn"><i class="fas fa-trash-alt"></i></div>
          </div>
        </div> 
      </div>
       
    </div>
  </div>
  <br>
  <div class="container">
    <div class="card">
      <br>
      <h2>Team 3</h2>
      <div class="card-body">
      <div class="card-body">
        <div class="d-flex justify-content-between">
            <div class="btn"><i class="fas fa-pen" ></i></div>
            <div class="btn"><i class="fas fa-trash-alt"></i></div>
          </div>
        </div> 
      </div>
       
    </div>
  </div>
  </div>
  </body>