/**
 * @   index.ejs
 *
 *
 * @author Venkatayashwanth Damera
 */
  <body> 
   <br>
  <div class="container">
    <div class="card">
      <br>
      <h2>Quest 1</h2>
      <div class="card-body"><div>Creator:<span class="creator"></span></div></div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>Start Location: <span class="startLocation"></span></div>
          <div class="icons">
            <div class="btn"><i class="fas fa-pen" ></i></div>
            <div class="btn"><i class="fas fa-trash-alt"></i></div>
          </div>
        </div> 
      </div>
       
    </div>
  </div>
  <br>
  <div class="container">
    <div class="card">
      <br>
      <h2>Quest 2</h2>
      <div class="card-body"><div>Creator:<span class="creator"></span></div></div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>Start Location: <span class="startLocation"></span></div>
          <div class="icons">
            <div class="btn"><i class="fas fa-pen" ></i></div>
            <div class="btn"><i class="fas fa-trash-alt"></i></div>
          </div>
        </div> 
      </div>
       
    </div>
  </div>
  <br>
  <div class="container">
    <div class="card">
      <br>
      <h2>Quest 3</h2>
      <div class="card-body"><div>Creator:<span class="creator"></span></div></div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>Start Location: <span class="startLocation"></span></div>
          <div class="icons">
            <div class="btn"><i class="fas fa-pen" ></i></div>
            <div class="btn"><i class="fas fa-trash-alt"></i></div>
          </div>
        </div> 
      </div>
       
    </div>
  </div>
  </div>
  </body>